{% extends "base.html" %}

{% block content %}

    <a href="/log_out">Log out</a> 
    <p></p>
    <a href="/new_post">New blogpost</a>
    <p></p>
    <a href="/users">All Users</a>
    <hr/>
    <h2>ʕ•ᴥ•ʔ Blogposts:</h2>

    {% if blogposts|length == 0 %}
    <p>No blogposts yet ¯\_( ͠° ͟ʖ °͠ )_/¯</p>
    {% else %}
        <ul>
            {% for blogpost in blogposts %}
            <li>
                <a href="./blogpost?blogpost-id={{blogpost.id}}">{{blogpost.name}}</a>
                {{blogpost.body}}
            </li>
            {% endfor %}
        </ul>
    
    {% endif %}

    <hr />

{% endblock %}