{% extends "base.html" %}

{% block content %}
<h2>༼ ͒ ̶ ͒༽ Register for a new account:</h2>

<form action="/register" method="POST">
    
  <label>
      <p>Your username:
        <input type="text" name="username" value= {{username}}>
        <span class='error'>{{ username_error }}</span></p>
      <p>Your password:
        <input type="password" name="password"/>
        <span class='error'>{{ password_error }}</span></p>
      <p>Confirm password:
        <input type="password" name="password_confirm"/>
        <span class='error'>{{ confirm_error }}</span></p>
      <p>E-mail (optional):
        <input type="text" name="email" value={{email}}>
        <span class='error'>{{ email_error }}</span></p>
    </label>
        <input type="submit" value="Submit"/>
</form>

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}
